body {
    padding-top: 30px;
}
.bigImg{
    float: left;
    margin: 20px;
    position: relative;
    height: 128px;
    width: 128px;
}
.demoImg{
    height: 80px;
    width: 80px;
}
.fixMaxWith{
    max-width: 580px;
}
.formInput{
    float: right;
    margin: 2px 0px;
    width: 70%;
}
.formLabel{
    float: left;
    margin: 2px 0px;
    padding: 7px 0px;
    position: relative;
    width: 30%;
}
.starter-template {
    padding: 10px 15px;
    text-align: center;
}
.table-clients{
    margin: 0px 15px;
}