body {
    padding-top: 45px;
}
.bigImg{
    float: left;
    margin: 20px;
    position: relative;
    height: 128px;
    width: 128px;
}
.demoImg{
    cursor: pointer;
    height: 60px;
    width: 60px;
}
.editImg{
    float: left;
    margin-left: 10%;
    height: 65px;
    width: 65px;
}
.fixMaxWith{
    max-width: 580px;
}
.formInput{
    float: right;
    margin: 2px 0px;
    width: 70%;
}
.formLabel{
    float: left;
    margin: 2px 0px;
    padding: 7px 0px;
    position: relative;
    width: 30%;
}
.pagingButtons {
    display: inline;
    list-style-type: none;
    margin: 0 6px;
    position: relative;
    text-align: center;
}
.searchBar{
    float: right;
    margin-top: 9px;
    margin-bottom: 0px;
    max-width: 250px;
}
.searchSelector{
    width: 40%;
}
.searchSpan{
    top: 0px;
}
.starter-template {
    padding: 0px 15px;
    text-align: center;
}
.table-clients{
    margin: 0px 15px;
}