body{
    background-image: url(/img/presence-ii.png);
}
.center{
    text-align: center;
}
.characterbox{
    float: left;
    padding: 5px 20px;
    position: relative;
    margin: 5px;
}
.demoimg{
    height: 150px;
    width: 150px;
}
.itemList{
    margin-left: 230px;
}
.logo{
    margin: 15px 0% 15px 0%;
}
.logo-marvel{
    width: 450px;
}
.form-control{
    margin: 5px;
    width: 98%;
}
.heading{
    text-align: center;
}
.liUnmark{
    list-style-type: none;
}
.pageButton{

}
.pagingButtons{
    display: inline;
    list-style-type: none;
    position: relative;
    text-align: center;
}
#panel{
    border-top: solid 4px #c0a16b;
    border-bottom: solid 4px #c0a16b;
    background: #f7e1b5;
    display: none;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15px;
    height: 165px;
    width: 50%;
}
.productbox{
    float: left;
    margin-top: 10px;
    min-width: 200px;
    position: relative;
    padding: 10px;
    padding-bottom: 40px;
}
.sidebar{
    border-color: #f7e1b5;
    border-style: groove;
    bottom: 10px;
    display: block;
    left: 0;
    margin-left: 1%;
    min-height: 250px;
    padding: 10px;
    position: fixed;
    top: 57px;
    z-index: 900;

}
.sidebarList{
    margin-left: 10px;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 0px;
}
.slide{
    margin-left: 0px;
    margin-right: 0px;
    min-width: 280px;
    padding: 0;
}
.sortLink{
    position: relative;
}
.topFormLine{
    border-top: solid 4px #c0a16b;
    margin: 0;
    padding: 0;
}
.topMenu{
    display: table;
    margin: 0 auto;
    text-align: center;
}